//Ionic overrides
@import '_ionicOverrides';
//
// Ionic & Ionicons
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';



.ion-slide {
  text-align: center;
  padding-top: 20px;

 &.radiomast-green-bg, &.radiomast-pink-bg, &.radiomast-blue-bg {

   img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 1%;
   }
	
   h2 {
     color: #fff;
     display:block;
     margin-left: 60%;
   }
   h3 {
   	color: #fff;
   }
   p {
   	 color: #fff;
   	 margin-left: 20%;
	 margin-right:20%;
   }
 }


  &.radiomast-black-bg {
    padding-top: 250px;
    h3 {
      color: #fff;
    }
  }
}

.radiomast-green-bg {
  background-color: #5EC2A1;
}

.radiomast-pink-bg {
  background-color: #B652C0;
}

.radiomast-blue-bg {
  background-color: #728CDA;
}

.radiomast-black-bg {
  background-color: #27272B;
}
