//Colors

$black:  #272822;
$white:  #f9f8f5;

$grayscale-1:  #383830;
$grayscale-2:  #49483e;
$grayscale-3:  #75715e;
$grayscale-4:  #a59f85;
$grayscale-5:  #f5f4f1;
$grayscale-6:  #f8f8f2;



$red:       #f92672;
$orange:    #fd971f;
$wheat:     #f4bf75;
$green:     #a6e22e;
$torquese:  #a1efe4;
$blue:      #66d9ef;
$purple:    #ae81ff;
$brown:     #cc6633;


$black-text-color:  $white;
$white-text-color:  $black;

$grayscale-1-text-color:  $white;
$grayscale-2-text-color:  $white;
$grayscale-3-text-color:  $white;
$grayscale-4-text-color:  $black;
$grayscale-5-text-color:  $black;
$grayscale-6-text-color:  $black;

$red-text-color:       $white;
$orange-text-color:    $white;
$wheat-text-color:     $white;
$green-text-color:     $white;
$torquese-text-color:  $white;
$blue-text-color:      $white;
$purple-text-color:    $white;
$brown-text-color:     $white;

