<template name="leftSideMenu">
{{#ionSideMenu}}
  <div class="content left-menu">
    {{#ionList}}
      {{#ionItem path="broadcast"}}
        <object type="image/svg+xml" data="img/svg/mast.svg" height="70px" width="70px">
        </object>
        Broadcast
      {{/ionItem}}

      {{#ionItem path="listen"}}
        <object type="image/svg+xml" data="img/svg/radio.svg" height="70px" width="70px">
        </object>
        Listen
      {{/ionItem}}

      {{#ionItem path="me"}}
        <object type="image/svg+xml" data="img/svg/me.svg" height="70px" width="70px">
        </object>
        Me
      {{/ionItem}}
    {{/ionList}}
  </div>
{{/ionSideMenu}}
</template>