<template name="navbar">
{{> ionNavBar class="bar-danger"}}
  {{#ionNavView}}
    {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
        {{else}}
          {{> ionIcon icon='navicon'}}
        {{/if}}
      </button>
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
      <button class="button button-clear pull-right" data-ion-menu-toggle="right">
        {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
        {{else}}
          {{> ionIcon icon='navicon'}}
        {{/if}}
      </button>
    {{/contentFor}}
  {{/ionNavView}}
</template>