<template name="onboarding">
  {{#ionView}}
    {{#ionContent}}
      <!-- BoxSlide -->
          {{#ionSlideBox}}
            {{#ionSlide class="radiomast-green-bg"}}
              <p>Radiomast</p>
              <h3>Welcome to Radiomast</h3>
              <img id="0" class="animation-target" src="image/radio.png" height="60px"/>
            {{/ionSlide}}
            {{#ionSlide class="radiomast-pink-bg"}}
              <p>Radiomast</p>
              <h3 id="1" class="animation-target">Slide 2</h3>
            {{/ionSlide}}
            {{#ionSlide class="radiomast-blue-bg"}}
              <p>Radiomast</p>
              <h3 id="2" class="animation-target">Slide 3</h3>
            {{/ionSlide}}
            {{#ionSlide class="radiomast-black-bg"}}
              <h3>Login with</h3>
              <section>
                {{> auth}}
              </section>
            {{/ionSlide}}
          {{/ionSlideBox}}
      <!-- BoxSlide end -->
    {{/ionContent}}
  {{/ionView}}
</template>
