<template name="onboarding">
  {{#ionView}}
    {{#ionContent}}
      <!-- BoxSlide -->
          {{#ionSlideBox}}
            {{#ionSlide class="positive-bg"}}
              <h3>Radiomast</h3>
            {{/ionSlide}}
            {{#ionSlide class="dark-bg"}}
              <h3>Slide 2</h3>
            {{/ionSlide}}
            {{#ionSlide class="positive-bg"}}
              <h3>Slide 3</h3>
            {{/ionSlide}}
            {{#ionSlide class="dark-bg"}}
              <h3>Login with Spotify</h3>
              <section>
                {{> auth}}
              </section>
            {{/ionSlide}}
          {{/ionSlideBox}}
      <!-- BoxSlide end -->
    {{/ionContent}}
  {{/ionView}}
</template>
