<template name="onboarding">
  {{#ionView}}
    {{#ionContent}}
      <!-- BoxSlide -->
          {{#ionSlideBox}}
            {{#ionSlide class="radiomast-green-bg"}}
              <h2>Radiomast</h2>
              <object type="image/svg+xml" data="img/svg/radiomast.svg" width="256"></object>
              <h3>Welcome to the ether!</h3>
            {{/ionSlide}}
            {{#ionSlide class="radiomast-pink-bg"}}
              <h2>Broadcast</h2>
              <object type="image/svg+xml" data="img/svg/radio.svg" width="256"></object>
              <h3>Be your own Radio host,</h3>
              <p>broadcast your favourite music from Spotify in your show!</p>
            {{/ionSlide}}
            {{#ionSlide class="radiomast-blue-bg"}}
              <h2>Listen</h2>
              <!-- <img src="/img/radio.png" alt="ikon" width="256"/>-->
              <object type="image/svg+xml" data="img/svg/radio.svg" width="256"></object>
              <h3>Tune in to your peers,</h3>
              <p>Mixtapes, debates, interviews, audiob logs, stories. Tune into the world!</p>
            {{/ionSlide}}
            {{#ionSlide class="radiomast-black-bg"}}
              <h3>Login with</h3>
              <section>
                {{> auth}}
              </section>
            {{/ionSlide}}
          {{/ionSlideBox}}
      <!-- BoxSlide end -->
    {{/ionContent}}
  {{/ionView}}
</template>
